<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Basic Structure</title>

</head>
<body>

    <nav>
        <h1>Navigation Bar</h1>
        <ul>
            <li><a href="/reporte">Reportes</a></li>
            <li><a href="#">Enlace1</a></li>
            <li><a href="#">Enlace1</a></li>
        </ul>
    </nav>

    <section>
        <h2>Main Content</h2>
        <p>This is the main section with some provisional styling.</p>
    </section>

    <footer>
        <p>Footer Content © 2025</p>
    </footer>

</body>
</html>
